<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-chalkboard-user"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <% if(currUser && currUser.usertype==="student"){%>
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/student">Home</a>
          <a class="nav-link" href="/student/internship">Internship</a>
          <a class="nav-link" href="/student/job">Job</a>
          <a class="nav-link" href="/student/myapplication">Application</a>
        </div>
        <%}%>
        <% if(currUser && currUser.usertype==="company"){%>
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/company">Home</a>
          <a class="nav-link" href="/company/internship">Internship</a>
          <a class="nav-link" href="/company/job">Job</a>
          <a class="nav-link" href="/company/internship/new">create</a>

        </div>
        <%}%>
        <div class="navbar-nav ms-auto">
          <% if(!currUser){ %>
          <a class="btn btn-outline-primary mx-2" aria-current="page" href="/login">Login</a>
          <a class="btn btn-outline-primary mx-2" href="/signup">Signup</a>
          <% } %>
          <% if(currUser){ %>
          <a class="btn btn-primary" href="/logout">logout</a>
          <% } %>
        </div>

      </div>
    </div>
  </nav>